* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: solid black 1px; */
  font-family: '--font-inter', sans-serif;
}

body {
  background-color: #C4C4EB;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}