.post_container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.post_head {

}

.post_profile {

}

.image_container {

}

.image_background {

}

.follow_container {

}

.post_content {

}

.settings_btn {

}

.post_body {

}

.post_footer {

}

.react_container {

}

.other_react_container {

}
